.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/cinemaharley.appspot.com/o/nuevoBannerdavid.jpeg?alt=media&token=21a0c635-0ea3-4eea-bbc9-058645d7585c');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30%;

}

.icono{
    font-size: 80px;
}